body{
    background-image: url("/bkimg.jpg");
}

.navbar-default {
    position: relative;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.74);
    border: none;
    height:77px;
}
.navbar-default .navbar-nav > li > a {
    color: #bfb2b2;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
    border:4px solid #24bcb1;
    border-radius: 0px 21px 0px 21px;
    transition: 1s width;
    color: #bfb2b2 !important;
    background: rgba(0, 0, 0, 0.74);
    font-weight: bold;
    background-color: red;
    color: #BFB2B2;
    background-color: transparent;
}


.navbar-default .navbar-nav > li > a {
    top: 14px;
}


.searchposition{
    margin-top: -23px;
    margin-bottom: 29px;
}

header{
    height:90px;
    margin-top:-20px;
}

header h1{
    padding-top:10px;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 45px;
    color:#FFFFFF;
}
.h2position{
    margin-top: 100px;

}
 .form-control {
    width: 200px; 
    margin-top: 40px;
}
.grid{
 	background-color: #FFFFFF;
 
    border: 1px solid #D2D6D5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .25s;
    transition: all .25s;
    margin: 5px;
    height: 120px;

	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -ms-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    background-color: #fff;

}
.grid:hover{
    border-shadow: 6px;
}

.item-detail{

	background-color: #CCCCCC;
    height:150px;
 
}
.right-div{
	height: 100px;
}

.item-image{
	margin: -18px 10px 10px 10px;
    height:80px;
    width:145px;
}

.item-image:hover{
    border-radius:0px;
    height:95px;
    width:145px;
}

.item-name{
    margin: 9px 10px 10px 140px;
	padding-top: 10px;
}

.item-styles{
    font-weight: bold;
    color: #940000;
}

a{
	color: white;
	font-size: 16px;
}

.grid{
    cursor: pointer;
}